
.textoBotones{

    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 

    color: blueviolet;

    font-size: 1em;

    margin-left: 3%;

    text-align: center;

    margin-top: 1em;

}

.fondoFormulari{
    background-color:  #FF5A04;
}