
.textoBotones{

    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 

    color: orange;

    font-size: 1em;

    margin-left: 3%;

    text-align: center;

    margin-top: 1em;

}

.fondoFormulari{
    background-color:  #689F38;
}

a:hover{
    background-color: red;
}